 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p> Nama : Resti Yulia </p>
                    <p>NIM :11353203146 </p>
                    <p>Fakultas : Sains dan Teknologi </p>
                    <p>Jurusan : <a href="sif.uin-suska.ac.id">Sistem Informasi</a> </p>
                    <p><a href="uin-suska.ac.id">Universitas Islam Negeri Sultan Syarif Kasim Riau</a></p>
                </div>
                <div class="col-lg-4">
                    <p>Saya Resti Yulia sedang mengerjakan tugas projek mobile application yang deadlinenya sampai 30 Mei 2016</p>
                </div>

                </div>
            </div>
        </div>
    </section>
