 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <h3> Nama : Resti Yulia </h3>
                    <h4> NIM : 11353203146 </h4>
                    <h5> Fakultas : Sains dan Teknologi </h5>
                    <h6> Jurusan : <a href="http://sif.uin-suska.ac.id" </a> Sistem Informasi </h6>
                    <h7> <a href="http://uin-suska.ac.id" </a> Universitas Islam Negeri Sultan Syarif Kasim Riau </h8>
                   
                </div>
                <div class="col-lg-4">
                    <h9> Saya Resti Yulia sedang mengerjakan tugas projek mobile application yang deadline sampai tanggal 30 Mei 2016 </h9>
                </div>

                </div>
            </div>
        </div>
    </section>
